*{
    margin: 0;
    padding: 0;
}
.tupian{
    width: 258px;
    height: 93px;
    margin-right: 133px;
    float: left;
}
.title{
    height: 110px;
    width: 964px;
    margin: 0 auto;
}
.xiaobiaoti ul li{
    float: left;
    margin-top: 28px;
    border-right:1px solid #b2c7ea;
    font-size: 13px;
    padding: 0 13px;    /* 这里设置内边距，以竖线为分界，上下0，左右是13px */
    color: #ababab;
}
.xiaobiaoti{
    float: right;
}
.xiaobiaoti ul{
    list-style:none;
    width: 573px;
    height: 57px;
}
.xiaobiaoti ul .active{
    color: #ee5eb5;
}
/* 去除最后的竖线 */
#last{
    border-right: 0;
}
.sousuokuang{
    width: 234px;
    height: 28px;
    border: 1px solid #d1d1d1;
    float: right;
}
.sousuokuang input{
    border:0;
    outline :none;
    /* outline，去掉点击输入框时出现的边框 */
}
.sousuokuang .left{
    width: 196px;
    float: left;
    height: 28px;
    padding-left: 14px;
}
.sousuokuang .right{
    background: url(../资料/安利4.png) no-repeat left;
    width: 24px;
    height: 28px;
    float: right;
}

.zhongjian{
    height: 54px;
    background: #11375f;
    line-height: 53px;
}
.zhongjian  li{
    color: white;
    font-size: 17px;
    float: left;
    list-style: none;
    margin-right: 76px;
}
.zhongjian  ul{
    margin-left: 153px;
}

.xs{
    width: 100%;
    height: 380px;
}

.dibu{
    width: 961px;
    height: 212px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.item{
    float: left;
    margin-right: 20px;
    width: 305px;
    border: 1px solid #cccccc;
    
}
.dibu img{
    height: 165px;
}
#ite{
    margin-right: 0;
}
.zi{
    font-size: 16px;
}

.float{
    width: 888px;
    height: 70px;
    margin: 0 auto;
    margin-top: 38px;
    color: #336699;
}
.xia{
    float: left;
    width: 241px;
}
