@font-face {
  font-family: "iconfont"; /* Project id 4633798 */
  src: url('iconfont.woff2?t=1721962296572') format('woff2'),
       url('iconfont.woff?t=1721962296572') format('woff'),
       url('iconfont.ttf?t=1721962296572') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Dyanjing:before {
  content: "\e8ab";
}

.icon-anquan:before {
  content: "\e8ac";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-dingdan:before {
  content: "\e8af";
}

